.search-bar
  %h1 Dogs in San Francisco, CA
  =form_tag pets_path, :method => :get do
    =text_field_tag('zip')
    =submit_tag('search')
.hero-section
  .content
    =form_tag pets_path, :method => :get do
      =text_field_tag('zip')
      =submit_tag('search')
.wrapper.clearfix
  - @pets.each do |pet|
    .container.pet
      .card
        .face.front
          .image-cropper
            = image_tag(pet.photo)
          %p
            = pet.name
        .face.back
          .content
            .thumb
              = image_tag(pet.photo)
            %p.desc
              = truncate(strip_tags(pet.description), :length =>250)
:javascript
  $(function(){
    $(window).scroll(function(){
     if($(window).scrollTop() > 400){
      $('.search-bar').fadeIn('fast');
     }else{
      $('.search-bar').fadeOut('fast');
     }
    });
  });