// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* float clearing for IE6 */
@mixin button{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    display:inline-block;
    color:#705a1b;
    font-family:Trebuchet MS;
    font-size:21px;
    font-weight:bold;
    padding:13px 18px 14px 18px;
    text-decoration:none;
    text-shadow:1px 1px 0px #fff;
    cursor:pointer;
    &:active {
        position:relative;
        top:1px;
    }
}

.ui-draggable-dragging{
    z-index:999999;
    .card{
        -webkit-transform: rotateY(0deg) !important;
        -webkit-transition: 0s !important;
    }
}
.semi-transparent{opacity:0.5;}

.hidden{display:none;}

* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

*{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
.front p{font-family: 'Gochi Hand', cursive;}
html{background:url('/assets/body_bg.jpg') repeat;}
body{margin:0;}
.search-bar{
    display:none;
    h1{
        float:left;
        color:#fff;
        padding-left:100px;
        padding-top:10px;
    }
    position: fixed;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    .drop-zone{
        width: 400px;
        height: 100%;
        background: red;
        right: 0;
        margin: 0;
        padding: 0;
        top: 0;
        position: absolute;
        &:hover{
            background:blue;
            cursor:pointer;
        }
    }
    .hovered{
        background:orange !important;
    }
    form{
        margin-top:25px;
    }
    input[type="text"]{
        padding: 18px;
        float: left;
        margin: 2px 0 0 30px;
        width:200px;
    }
    input[type="text"]{
        font-size:1.4em;
        padding:13px;
        float:left;
        margin:3px 15px 0 20px;
        border:none;
        -webkit-border-radius: 5px;

    }
    input[type="submit"]{
        @include button;
        -webkit-border-radius: 0px 5px 5px 0px;
        border-radius: 3px;
        border:1px solid green;                                                                                        background:-webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    }
}
#doggy-bag{
  width:100%;
  height:400px;
  position:fixed;
  top:-400px;
  z-index:999;
  border-bottom:10px solid white;
  background:url('/assets/doggy-bag-bg.jpg') repeat-x;
  .doggy-bag-content{
      width:900px;
      height:100%;
      margin:0 auto;
      padding:20px;
      position:relative;
      .items h1{
        text-align:center;
        padding-top:100px;
        text-shadow: 1px 1px 0px #fff;
      }
      .options{
        width:110px;
        .close{
            width:50px;
            height:100%;
            float:left;
            background:url('/assets/close-icon.jpg');
            cursor:pointer;
            opacity:0.6;
            &:hover{
                opacity:1;
            }
        }
        .reset{
            width:50px;
            height:100%;
            float:right;
            background:url('/assets/reset-icon.jpg');
            cursor:pointer;
            opacity:0.6;
            &:hover{
                opacity:1;
            }

        }
        height:50px;
        position:absolute;
        right:400px;
        bottom:50px;

      }
  }
}
.hero-section{
    height: 370px;
    left: 0;
    margin:-8px 0 0 -8px;
    position:relative;
    background:url('/assets/grass.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
    background-repeat:repeat-x;
    background-position:bottom;
    .content{
        .show-doggy-bag{
            position:absolute;
            right:200px;
            top:-15px;
            width:100px;
            height:150px;
            background:url('/assets/fav-ribbon.png');
            -webkit-transiiton: top;
            cursor:pointer;
            &:hover{
               -webkit-transition: 0.3s;
               top:0;
            }
        }
        background:url('/assets/hero-bg.png');
        width:900px;
        height:100%;
        margin:0 auto;
        padding-top:1px;
        .logo{
            width:236;
            height:232px;
            background:url('/assets/pug.png');
            position:absolute;
            top:0;
            left:0;
        }
        h1.main-heading{
            font-family: 'Poiret One', cursive;
            text-align:center;
            font-size:5em;
            color:white;
            margin-bottom:25px;
            margin-top:30px;
            position:relative;
            span.cat-icon{
                width: 180px;
                height: 240px;
                display: inline-block;
                background: url("/assets/cat-icon.png");
                position: absolute;
                left: 374px;
                top:-61px;
            }
        }

        .form{
            display:table;
            margin:0 auto;
            border-radius:5px;
            padding:10px;
            background-color: rgba(0, 0, 0, 0.2);
            input[type="submit"]{
                @include button;
                -webkit-border-radius: 0px 5px 5px 0px;
                border-radius: 0px 5px 5px 0px;
                border:1px solid green;
                background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
            }
            input[type="text"]{
                font-size:1.4em;
                padding:13px;
                float:left;
                margin:3px -4px 0 0;
                border:none;
                -webkit-border-radius: 5px 0px 0px 5px;
                border-radius: 5px 0px 0px 5px;
            }
        }
    }
}


#options{
    margin-bottom: 20px;
    margin-top: -16px;
    padding-top:10px;
    background: black;
    margin-left: -8px;
    border-bottom:1px solid #333;
    .options{
        ul{
            list-style:none;
            padding-left:0;
            margin:20px 0 0 0;
            li.strike{
                height: 50px;
                margin-top: 17px;
                opacity: 0.5;
            }
            li{
                span.heart{
                    width: 20px;
                    height: 34px;
                    display: inline-block;
                    background: url("/assets/heart-icon.png") 0 17px no-repeat;
                }
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 300;
                color:white;
                text-shadow: 0px -1px 0px #000;
                float:left;
                line-height:60px;
                height:70px;
                padding:0 20px;
                border-right:1px solid #333;
                border-left:1px solid #000;
                cursor:pointer;
                background: rgb(69,72,77); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
            }
        }
    }
}


.wrapper{padding:0 125px;}
.container {
	width: 264px;
	height: 325px;
    float:left;
    -webkit-perspective: 1000;
   	&:hover{
   	    .card {
            -webkit-transform: rotateY(180deg);
        }
   	}
}
.card {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
    -webkit-transition-delay: 0.3s;
    cursor:move;
    position:relative;
   .front, .back{
       width: 264px;
       height: 325px;
       overflow:hidden;
   }
   .front{
    .filter{
        position:absolute;
        left:0;
        top:0;
        background:url('/assets/image-filter.png');
        z-index:999;
        width:100%;
        height:100%;

    }
    background:url('/assets/polaroid.png') no-repeat;
    p{
        font-size: 3em;
        padding: 0 0 0 25px;
        margin: 0;
        overflow:hidden;
        height:51px;
    }
    .image-cropper{
        width: 235px;
        height: 230px;
        background: black;
        margin-left: 11px;
        margin-top: 21px;
        overflow:hidden;
        img{
            height:100%;
        }
    }
   }
   .back {
       z-index:9999;
        -webkit-transform: rotateY(180deg);
        background:url('/assets/back-bg.jpg');
        -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.6);
        box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.6);
        .content{
            padding:15px;
            position:relative;
            .favicon{
                position:absolute;
                width:50px;
                height:50px;
                background:url('/assets/favicon.png');
                top:20px;
                right:45px;
                opacity:0.6;
                &:hover{
                    opacity:1;
                    cursor:pointer;
                }
            }
            .faved{
                background:url('/assets/faved.png') !important;
                opacity:1 !important;
            }
        }
        .thumb img{
            width: 117px;
            margin-bottom:10px;
            border: 1px solid #999;
        }
        p.desc{
          margin:0;
          padding:0;
          line-height:1.6em;
        }
   }
   .face {
        position: absolute;
        -webkit-backface-visibility: hidden;
    }
}