// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

*{font-family: 'Gochi Hand', cursive;}
html{background:url('/assets/body_bg.jpg') repeat;}

.search-bar{
    display:none;
    h1{float:left;}
    position: fixed;
    height: 75px;
    background: red;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
}
.hero-section{
    height: 370px;
    width: 101%;
    background: white;
    left: 0;
    margin:-8px 0 40px -8px;
    background:url('/assets/hero-bg.jpg') repeat-x;
    position:relative;
    &:after{
        content:"";
        width:100%;
        height:400px;
        bottom:-400px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.42) 0%, rgba(0,0,0,0.42) 32%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.42)), color-stop(32%,rgba(0,0,0,0.42)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.42) 0%,rgba(0,0,0,0.42) 32%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.42) 0%,rgba(0,0,0,0.42) 32%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.42) 0%,rgba(0,0,0,0.42) 32%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(0,0,0,0.42) 0%,rgba(0,0,0,0.42) 32%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        position:absolute;
    }
    .content{
        width:800px;
        height:100%;
        margin:0 auto;
    }
}


.wrapper{padding:0 130px;}
.container {
	width: 264px;
	height: 325px;
    float:left;
    -webkit-perspective: 1000;
   	&:hover{
   	    .card {
            -webkit-transform: rotateY(180deg);
        }
   	}
}
.card {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
    -webkit-transition-delay: 0.3s;
   .front, .back{
       width: 264px;
       height: 325px;
       overflow:hidden;
   }
   .front{
    background:url('/assets/polaroid.png') no-repeat;
    p{
        font-size: 3em;
        padding: 0 0 0 25px;
        margin: 0;
    }
    .image-cropper{
        width: 235px;
        height: 230px;
        background: black;
        margin-left: 11px;
        margin-top: 21px;
        overflow:hidden;
        img{
            height:100%;
        }
    }
   }
   .back {
        -webkit-transform: rotateY(180deg);
        background:url('/assets/back-bg.jpg');
        .content{
            padding:15px;
        }
        .thumb img{
            width: 117px;
            float: left;
            margin-right: 12px;
            border: 1px solid #999;
        }
        p.desc{
          margin:0;
          padding:0;
        }
   }
   .face {
        position: absolute;
        -webkit-backface-visibility: hidden;
    }
}